body {
   font-family: "Arial", sans-serif;
   margin: 0;
   padding: 0;
   background-color: #d4af37;
   color: #444;
   display: flex;
   flex-direction: column;
}

.main-content {
   flex: 1;
   margin-bottom: 50px;
}

/* Section Styling */
.book-section {
   margin: 20px auto;
   padding: 20px;
   max-width: 1200px;
   background-color: #faf3e0;
}

.book-section h2 {
   text-align: center;
   color: #6c63ff;
   margin-bottom: 30px;
   font-size: 2em;
}

.book-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
}

.book-card {
   background-color: #f9f9f9;
   border: 1px solid #ddd;
   border-radius: 10px;
   padding: 15px;
   text-align: center;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s ease-in-out;
   width: auto;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.book-card:hover {
   transform: translateY(-10px);
   transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
   border: 2px solid #ffe881;
}

.book-card img {
   border-radius: 5px;
   margin-bottom: 10px;
   object-fit: cover;
   height: 200px;
   width: 150px;
   margin: 0 auto;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.book-card h3 {
   margin: 10px 0 5px;
   font-size: 1.2em;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
}

.book-card p {
   margin: 3px 0;
   font-size: 0.9em;
}

.book-card a {
   color: #6c63ff;
   text-decoration: none;
   font-weight: bold;
   margin: 0 5px;
}

.book-card a:hover {
   text-decoration: underline;
}

/* Admin Button */
.admin-link,
button {
   display: block;
   text-align: center;
   margin: 30px auto;
   padding: 15px 25px;
   color: white;
   background-color: #74641d;
   text-decoration: none;
   border-radius: 5px;
   width: 200px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   font-weight: bold;
}

.admin-link:hover {
   background-color: #5a4e16;
   transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
   transform: translateY(-5px);
}

.custom-height {
   height: 250px !important;
   overflow: hidden;
}

.book-content {
   display: flex;
   flex-direction: column;
   flex: 1;
}

.book-links {
   margin-top: auto;
   padding-top: 10px;
}
