
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1;
    background-color: #fff8dc;
  }


.footer {
    text-align: center;
    background-color: #74641d; 
    color: white;
    padding: 20px 15px;
    margin-top: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.footer-container {
    padding: 10px 15px;
}

.footer-icon{
   display:flex;
   justify-content: center;
}

.footer-icon a {
    text-decoration: none;
    padding: 4px;
    background-color: #fff;
    margin: 4px;
    border-radius: 50%;
 }

 .footer-icon a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.footer-icon a:hover {
    background-color: #111;
    transition: 0.5s;
}

.footer-icon a:hover i {
    color: white;
    transition: 0.5s;
}

.footer-nav {
    margin: 5px 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer-nav ul li a{
    color:white;
    margin: 10px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    opacity: 1;
}

#footer-bottom {
    background-color: #74641d;
    padding: 8px;
    text-align: center;
}

#footer-bottom p {
    color: white;
    margin: 0;
    font-size: 0.9em;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px ){
    .footer-nav ul {
        flex-direction: column;
    }
    .footer-nav ul li {
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .footer-icon a{
        padding: 8px;
        margin: 4px;
    }
}

