body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

h1{
    color:white;
    text-align: center;
    display: block;
    font-size: 55px;
    
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.video-background video{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.video-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 150vh;
    padding-top: 120px;
    gap: 30px;
    position: relative;
    z-index: 2;
}

.inputs-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px 100px;
}

.Name, .pass, .mail{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Name input, .pass input, .mail input{
    border-radius: 17px;
    padding: 9px;
    font-size: 18px;
    width: 250px;
}

.buttons-container{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

button[type="submit"]{
    background-color: #74641d;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    margin-left: 270px;
    border: none;
    border-radius: 25px;
    cursor: pointer ;
}
