<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Css/aboutus.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Lora:wght@400;700&display=swap">

    <title>About Us</title>
</head>
<body id="aboutbody">
    <div id="navbar-placeholder"></div>
    <div class="about">
            <h1>About Us</h1>
            <p>Welcome to our library! We are dedicated to providing a vast collection of books for reading and borrowing. Our mission is to promote knowledge, education, and a love for literature in our community.</p>
            <p>Our library offers a diverse selection of books across different genres, ensuring that every reader finds something of interest. Whether you enjoy fiction, non-fiction, academic materials, or children's books, we have something for everyone.</p>
            <p>We also offer a book lending service, allowing members to borrow books and enjoy them at their own convenience. Our friendly staff is always available to help you find the perfect book or answer any questions you may have.</p>
            <p>Thank you for visiting our library. We look forward to seeing you soon!</p>
        </div>
        <script>
            fetch('Navigationbar.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('navbar-placeholder').innerHTML = data;
                });
        </script>
</body>
</html>
