<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>forgetpass2</title>
    <link rel="stylesheet" href="{% static 'Css/Sign_style.css' %}">
</head>

<body>
    
    <!-- here we need to check if the user enter 6 characters i asked ai he tell me with javaScript  -->
    <div class="form-container">
        <form class="content" method="POST" action="{% url 'forgetpass2' %}">
            {% csrf_token %}
            <h1>We sent a code of 8 characters to your email</h1>
            <input type="text" id="username" name="codeOF6" placeholder="Enter the code" required>
            
            <div class="submit-group">
                <input class="buttonlink" type="submit" value="Next">
            </div>
        </form>

    </div>

    <div class="video-background">
        <video autoplay muted loop>
            <source src="https://videos.pexels.com/video-files/854533/854533-uhd_2560_1440_25fps.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay"></div> <!-- Overlay div -->
    </div>
</body>
</html>
