<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
    <link rel="stylesheet" href="{% static 'Css/Sign_style.css' %}">
</head>

<body>
    <!-- Here We need to check the user input is email
    but without input submit  -->

    <div class="form-container">
        <form class="forget1" method="POST" action="{% url 'forget-password' %}">
            {% csrf_token %}
            <h1>Forget Password? <br>Follow these steps to set a new password</h1>
            <input type="email" id="username" name="email" placeholder="Enter Your E-mail" required>
            <br><br>

            <div class="submit-group">
                <input class="buttonlink" type="submit" value="Next">
            </div>
        </form>

    </div>

    <div class="video-background">
        <video autoplay muted loop>
            <source src="https://videos.pexels.com/video-files/854533/854533-uhd_2560_1440_25fps.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay"></div> <!-- Overlay div -->
    </div>

    
</body>
</html>
