<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Sign-in</title>
    <script src="https://kit.fontawesome.com/2ef47f0c89.js" crossorigin="anonymous"></script>
    
    <!-- Updated CSS Link -->
    <link rel="stylesheet" href="{% static 'Css/Sign_style.css' %}">
    
    <!-- Updated JavaScript Links -->
    <script src="{% static 'JS/signIn.js' %}" defer></script>
</head>

<body>
    <div id="navbar-placeholder">
        {% include 'Navigationbar.html' %}
    </div>

    <div class="video-background">
        <video autoplay muted loop playsinline id="bg-video">
            <source src="https://videos.pexels.com/video-files/854533/854533-uhd_2560_1440_25fps.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay"></div>
    </div>
  
    <div class="form-container">
        <form class="flex-form" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <h1>Welcome Back <br> Please Log In</h1>
        
            <div class="form-group">
                <div class="input-group">
                    <input type="email" id="email" name="email" required placeholder="E-mail">
                </div>

                <div class="input-group">
                    <input type="password" id="password" name="password" required placeholder="Password">
                </div>
            </div>

            <div id="error-message" style="color: red; font-weight: bold;">
                {% if error %} {{ error }} {% endif %}
            </div>
            <div class="forgot-password">
                <a href="{% url 'forget-password' %}">Forgot Password?</a>
            </div>
            <div class="submit-group">
                <input class="buttonlink" type="submit" value="Log In">
            </div>
        </form>
    </div>
</body>
</html>
