<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './Css/ourTeam.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <title>Our Team</title>
</head>

<body>
    <div class="ourteam">
        <div class="team-members">
            <div class="member-card">
                <h2>Nouran Mahmoud</h2>
                <h5>Developer</h5>
                <div class="social">
                    <a href="mailto:20231220@stud.fci-cu.edu.eg"><i class="fa fa-google"></i></a>
                    <a href="https://github.com/nouran8890"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-leetcode"></i></a>
                </div>
            </div>

            <div class="member-card">
                <h2>Marawan Ashraf</h2>
                <h5>Developer</h5>
                <div class="social">
                    <a href="mailto:20230379@stud.fci-cu.edu.eg"><i class="fa fa-google"></i></a>
                    <a href="https://github.com/Marooo25"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="member-card">
                <h2>Zyad Alabiad</h2>
                <h5>Developer</h5>
                <div class="social">
                    <a href="mailto:atefzyad59@gmail.com"><i class="fa fa-google"></i></a>
                    <a href="https://github.com/Zyadateff"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>

            <div class="member-card">
                <h2>Mohamed Afifi</h2>
                <h5>Developer</h5>
                <div class="social">
                    <a href="mailto:20230618@stud.fci-cu.edu.eg"><i class="fa fa-google"></i></a>
                    <a href="https://github.com/mohamed-afifi1"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="member-card">
                <h2>Mohamed Hamed</h2>
                <h5>Developer</h5>
                <div class="social">
                    <a href="mailto:mah2mdahm3d121@gmail.com"><i class="fa fa-google"></i></a>
                    <a href="https://github.com/iamM0hamed"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/abu-hamed"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>

            <div class="member-card">
                <h2>Mohamed Saad</h2>
                <h5>Developer</h5>
                <div class="social">
                    <a href="mailto:20231141@stud.fci-cu.edu.eg"><i class="fa fa-google"></i></a>
                    <a href="https://github.com/Mohamed-sa3d200"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>

                </div>
            </div>
        </div>

        <div class="content">
            <h1>Meet Our Team</h1>
            <p>We're a team of computer science students collaborating on an exciting project as part of our university
                course. This experience is not only helping us grow as developers but also teaching us the value of
                teamwork, creativity, and problem-solving.</p>
            <a href="./contactUs.html" class="button">Contact</a>

        </div>

</body>

</html>
