
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Set New Password</title>
    <link rel="stylesheet" href="{% static 'Css/Sign_style.css' %}">
</head>
<body>
    <!-- Here we need to check if the two boxes of new password are the same
    ai tell me with JavaScript -->
    <div class="form-container">
        <form class="content" action="dashboard.html">
            <h1>Set Your New Password</h1>

            <input type="password" id="password" name="newpass" placeholder="Enter New Password" required>

            <input type="password" id="password" name="newpass" placeholder="Re-Enter Password" required>
            <div class="submit-group">
                <input class="buttonlink" type="submit" value="Submit">
            </div>
        </form>
    </div>

    <div class="video-background">
        <video autoplay muted loop>
            <source src="https://videos.pexels.com/video-files/854533/854533-uhd_2560_1440_25fps.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay"></div> <!-- Overlay div -->
    </div>
</body>
</html>
